

/*premiere et dernière page*/

#container-sm{
  align-content: center;
  background-color: coral;
  position:relative;
  text-align: center;
 
}

/* page exo */

h2 {
  text-align: center;
}

h1{
  text-align: center;
}

.container{
  background-color:#ff7f50;
  background-size: 200%;
  border-radius: 20px;

}

em{
  text-decoration: underline;
  color: white;
}



/*exo français*/

body {
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.base {
 
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.tenu {
  border: solid 5px #ccc;
}

.case {
  display: inline-block;
  height: 80px;
  width: 160px;
  margin: 10px;
  border: solid 3px black;
  background: #fff;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}


.table-bordered{
  border: 2px solid black;
  width: 250px;
  height: 200px;
 text-align: center;
 display: inline-table;
 background-color: gray;
}

