
/*Score*/

h2 {
    text-align: center;
  }
  
h1{
    text-align: center;
  }

/*header and footer*/

#first{
    height: 250px;
    
    }

#trois{
    margin-top: 90px;
width: 1700px;
 height: 120px;
 margin-left: 500px;
}

 /*exo français*/

em {
    text-decoration: underline;
    color: black;
  }

.case {
    display: inline-block;
    height: 80px;
    width: 160px;
    margin: 10px;
    border: solid 3px black;
    background: #fff;
  }




